.about-sec {
    margin-bottom: 80px;
    background: #f7f4f0;
    // float: left;
    width: 100%;

    .about-img figure {
        height: 550px;
        width: 100%;
        background-position: center bottom !important;
        margin-bottom: 0;
    }
}

.about-sec .about-content {
    max-width: 600px;
    padding: 40px 0 30px;
    padding-left: 60px;
}

.about-sec .about-content h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}

.about-sec .about-content p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.about-sec .about-content .btn-sec {
    margin-top: 30px;
}

.about-sec .about-content .btn-sec .btn {
    margin-right: 10px;
}

.about-sec .about-content .btn-sec .black {
    background: #252525;
    border: 2px solid #252525;
}

.about-sec .about-content .btn-sec .black:hover {
    background: transparent;
    color: #252525;
}
