section#carrito,
section#checkout {
    .table td, .table th {
        padding: .75rem .30rem;
        text-align: center;
    }
    h5 {
        margin-bottom: 20px;
    }

    a {
        color: #222;
        font-weight: 500;

        &:hover {
            color: $color-prim;
        }
    }

    .cart-table {
        table>tbody>tr>td {
            small {
                display: none;

                @media(min-width: 576px) {
                    display: inline;
                }

                @media(min-width: 768px) {
                    display: none;
                }

                @media(min-width: 992px) {
                    display: inline;
                }
            }


        }

        button.btn {
            margin-bottom: 20px;
        }
    }


}
