section#edit-user {
    label {
        display: block;
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: $color-prim;
    }

    input {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        height: 40px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #ddd;
        line-height: 1px;

        &[disabled] {
            color: #ddd;
        }
    }
}
