section#editar-libro {
	div.tapa.form-group>div.post-thumbnail {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
	}
	div.post-thumbnail {
		margin-top: 20px;
	}
	select#categorias {
		height: 150px;
	}
}
