div.img.form-group>div.post-thumbnail {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

#textarea>div.ql-editor>p {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
}

.ql-container {
    min-height: 200px;
}
