section#eventos {
    main.lista-eventos {
        article.evento {
            div.imagen {
                height: 400px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
        }
    }

    aside {
        a {
            font-weight: 500;
        }
    }

}
