section#filters {
	select {
	height: 40px;
	background-color: #fff;
    border: 1px solid #F0563A;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    padding: 5px 10px 5px;
    text-align-last: center;
    font-size: 16px;
    color: #F0563A;	
    margin:  0 0 20px;
    max-width: 100%;

}
div#switches {
	margin: 30px 0;
}
}
