footer {
    background: #f0f0f0;
    padding: 80px 0 0;
    width: 100%;
    float: left;
}

footer h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 300;
}

footer .address {
    margin-bottom: 50px;
}

footer .address h6 {
    color: #464646;
    margin-bottom: 20px;
    font-weight: 300;
    padding-right: 50px;
    line-height: 24px;
}

footer .timing h6 {
    color: #464646;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
}

footer ul li {
    margin-bottom: 5px;
    list-style: none;
}

footer ul li a {
    color: #464646;
    font-size: 12px;
}

footer .navigation {
    margin-bottom: 40px;
}

footer .form h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

footer .form h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 90%;
    margin-bottom: 25px;
}

footer .form input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 0;
}

footer .form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    border: 0;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
}

footer .form .btn {
    font-weight: 300;
}

footer .copy-right {
    background: #000;
    color: #fff;
    padding: 25px 0;
    margin-top: 60px;
}

footer .copy-right h5 {
    font-size: 14px;
    font-weight: 300;
}

footer .copy-right .row {
    align-items: center;
}

footer .copy-right .share {
    text-align: right;

    a {
        color: white;
    }
}

footer .copy-right .share span {
    padding: 0 5px;
    cursor: pointer;
}

footer .copy-right .share span:last-child {
    padding-right: 0;
}

footer .copy-right .share span:hover {
    color: #ff9700;
}

@media only screen and (max-width: 480px) {
    footer .timing {
        margin-bottom: 40px;
    }

    footer {
        padding: 60px 0 0;
    }

    footer .copy-right .share {
        text-align: left;
    }

    footer .copy-right .share {
        text-align: left;
        margin-top: 10px;
    }
}
