header#header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 100;

    .navbar-collapse {
        margin-top: 20px;
    }


    .header-top {
        background: $color-prim;
        color: #fff;
        padding: 7px 0 7px;
    }

    .header-top .web-url {
        font-size: 12px;
        border-bottom: 1px solid;
        color: #fff;
        line-height: 11px;
        display: inline-block;
        font-style: italic;
    }

    .header-top .web-url:hover {
        text-decoration: none;
        border: 0;
    }

    .header-top h5 {
        font-size: 16px;
        font-weight: 300;
    }

    .header-top .ph-number {
        float: right;
    }

    .header-top .row {
        align-items: center;
    }

    .header-top .row .navbar-nav {
        flex-direction: row;

        li {
            a.nav-link {
                padding: 0;
                color: white;
            }
        }
    }

    .main-menu {
        padding: 40px 0 10px;
    }

    .main-menu .navbar {
        padding: 0;

        img.logo {
            width: 110px;
            position: absolute;
            top: -35px;
            left: 0px;
        }
    }

    .main-menu .navbar-brand {
        padding: 0;
        margin-top: -10px;
    }

    .main-menu .navbar-light .navbar-nav .navbar-item {
        padding: 0 15px;
        position: relative;
    }

    .main-menu .navbar-light .navbar-nav .navbar-item:after {
        content: '';
        width: 1px;
        height: 18px;
        float: right;
        background: #a3a3a3;
        position: absolute;
        right: 0;
        top: 2px;
    }

    .main-menu .navbar-light .navbar-nav .navbar-item:last-child:after {
        display: none;
    }

    .main-menu .navbar-light .navbar-nav .navbar-item.active {
        color: #000;
    }

    .main-menu .navbar-light .navbar-nav .navbar-item.active:after {
        background: #000;
    }

    .main-menu .navbar-light .navbar-nav .nav-link {
        padding: 0;
    }

    .main-menu .form-inline {
        border: 1px solid #e7e7e7;
        padding-right: 10px;
    }

    .main-menu .form-inline input {
        border: 0;
        font-size: 12px;
        height: 32px;
        outline: 0;
    }

    .main-menu .form-inline input {
        outline: 0;

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            box-shadow: 0 0 0 30px white inset !important;
        }
    }

    .main-menu .form-inline .fa {
        // color: #e7e7e7;
        font-size: 12px;
        padding: 11px;
        position: absolute;
        right: 0;

        &:hover {
            background-color: #000;
            color: white;
        }
    }

    .cart {
        padding: 0 10px;
        margin-right: 10px;
        position: relative;
        margin-top: 2px !important;

        a {
            color: black;
        }
    }

    .cart .quntity {
        font-size: 10px;
        position: absolute;
        top: -3px;
        right: 0;
        background: red;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        padding: 1px 0;
        font-weight: bold;
    }

}
