@mixin buttonBorder($color) {
    border-right: none;
    border-top: none;
    border-left: 2px solid $color;
    border-bottom: 2px solid $color;

    &:active {
        border-left: none;
        border-bottom: none;
        border-top: 2px solid $color;
        border-right: 2px solid $color;
    }
}
