.offers-sec {
    padding: 90px 0;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
}

.offers-sec .detail {
    background: #fff;
    padding: 60px 44px;
    position: relative;
    height: 100%;

    .blue-btn {
        z-index: 10;
    }
}

.offers-sec .detail h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
}

.offers-sec .detail h6 {
    font-size: 16px;
    font-weight: 300;
    padding-right: 28px;
    line-height: 28px;
    margin-bottom: 30px;
}

.offers-sec .detail .icon-point {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    padding-bottom: 10px;
    z-index: 0;
}

.offers-sec .detail .icon-point.amount {
    padding: 10px 10px;
    opacity: 0.7;
}

.offers-sec .row {
    margin: 0 -40px;
}

.offers-sec .row .col-md-6 {
    padding: 0 40px;
}

.offers-sec .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
}
