section#precios,
section#compras {

    input.precio,
    input.enviado {
        width: 70px;
        text-align: center;
        padding-left: 5px;
        font-family: sans-serif;
    }

    /*  button.edit-precios {
        padding: 4px;
        font-size: 10px;
        transition: 150ms;
    }*/
    /* button.btn:hover  {
        border: 2px solid #F0563A;
    }*/
    td,
    th,
    input {
        font-size: 14px;
    }

    td {
        position: relative;
    }

    td div.alert {
        position: absolute;
        top: 0px;
        right: 220px;
        width: 200px;
        padding: 5px 20px;
        display: none;
    }
}
