.recomended-sec {
    text-align: center;
    margin-bottom: 80px;

    h2 {
        font-family: Montserrat, sans-serif;
        display: inline-block;
        font-size: 30px;
        padding: 0 15px;
        background: #fff;
        padding: 0 15px;
        position: relative;
        text-transform: uppercase;
        color: #363636;
    }

    hr {
        margin: 0;
        margin-top: -20px;
        border-top: 1px solid #999999;
    }

    .title {
        margin-bottom: 70px;
    }

    .item {
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 1px solid #d5d5d5;
        padding: 36px 10px;
        cursor: pointer;
        position: relative;
        min-height: 335px;

        .item-img {

            flex: 1 1 auto;

            img {
                margin-bottom: 15px;
                max-width: 135px;
            }
        }

        .item-content {

            h3 {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 300;
                margin-bottom: 10px;
                height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            h6 {
                font-size: 12px;
            }

            h6 span {
                color: #ff0000;
            }

            h6 a {
                color: #000;
                border-bottom: 1px solid #d5d5d5;
                padding-bottom: 1px;
            }

            h6 a:hover {
                text-decoration: none;
                border-bottom: 0;
                color: #ff9700;
            }
        }

        .hover {
            position: absolute;
            background: rgba(204, 204, 204, 0.7);
            visibility: hidden;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            vertical-align: middle;
            align-items: center;
            display: flex;
            transition: all .4s ease;
            opacity: 0;
        }

        .hover span {
            margin: 0 auto;
            font-size: 50px;
            margin-top: 40px;
            transition: all 0.4s;
        }

        .hover a {
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            color: #000;
        }

        &:hover .hover {
            visibility: visible;
            opacity: 1;
        }

        &:hover span {
            margin-top: 0;
        }

        .sale {
            background: #f9372c;
            padding: 10px 24px;
            position: absolute;
            top: 0;
            left: 0;
            text-transform: uppercase;
            color: #fff;
        }
    }
}
