section#filters div#filtered, .recent-book-sec,
.all-books {
    text-align: center;
    margin-bottom: 130px;

    h2 {
        display: inline-block;
        padding: 0 15px;
        background: #fff;
        padding: 0 15px;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        color: #363636;
    }

    hr {
        margin: 0;
        margin-top: -20px;
        border-top: 1px solid #999999;
    }

    .title {
        margin-bottom: 80px;
    }


    .row.all-books {
        margin-top: 80px;
    }

    .item {
        display: flex;
        flex-direction: column;
        height: 92%;
        text-align: left;
        margin-bottom: 45px;

        .item-img {
            flex: 1 1 auto;
            text-align: center;
            img {
                max-width: 100%;
                cursor: pointer;
                margin-bottom: 15px;
            }
        }

        .item-info {
            text-align: center;
            h3 {
                font-size: 16px;
                line-height: 22px;
                font-weight: 300;
                margin-bottom: 10px;
            }

            a {
                color: inherit;

                &:hover {
                    color: #F9055E;
                    text-decoration: none;
                }
            }


            h6 {
                font-size: 12px;

                span {
                    color: #ff0000;
                }

                a {
                    color: #000;
                    border-bottom: 1px solid #d5d5d5;
                    padding-bottom: 1px;

                    &:hover {
                        text-decoration: none;
                        border-bottom: 0;
                        color: #ff9700;
                    }
                }
            }
        }
    }
}
