#reset-password-email,
#reset-password {
    .card {
        margin-top: 25px;
        border-radius: 0;

        .card-header {
            background-color: $color-prim;
            color: white;
            font-size: 110%;
            border: none;
        }

        .card-body {
            padding-top: 30px;

            input {
                border-radius: 0;
                margin-bottom: 10px;

            }

            button {
                padding: 10px 16px 8px;
            }
        }
    }
}
