@media only screen and (max-width: 1199px) {
    .recent-book-sec .row {
        margin: 0 -20px;
    }

    .recent-book-sec .row .col-lg-2 {
        padding: 0 20px;
    }

    .recent-book-sec .row {
        margin: 0 -20px;
    }

    .recent-book-sec .row .col-md-2 {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1024px) {
    header .cart .quntity {
        font-size: 10px;
    }

    section#single-libro {
        div>div>div.slider-content>div>button {
            margin-top: 20px;
        }
    }


    .container {
        width: 100%;
        padding: 0 20px;
        max-width: 100%;
    }



    .offers-sec .row {
        margin: 0 -20px;
    }

    .offers-sec .row .col-md-6 {
        padding: 0 20px;
    }

    .about-sec .about-content {
        max-width: 580px;
        padding-left: 40px;
    }

    .offers-sec .detail h3 {
        font-size: 22px;
    }

    .testimonial-sec .item h3 {
        font-size: 30px;
        line-height: 46px;
    }
}

@media only screen and (max-width: 800px) {
    header .header-top h5 {
        font-size: 12px;
    }

    header .header-top .ph-number {
        font-size: 12px;
    }

    header .main-menu {
        padding: 20px 0;
    }

    header .main-menu .navbar-light .navbar-nav .navbar-item {
        padding: 0;
        margin-bottom: 10px;
    }

    header .main-menu .navbar-light .navbar-nav .navbar-item:after {
        display: none;
    }

    header .cart {
        max-width: 34px;
    }

    header .main-menu .form-inline {
        max-width: 200px;
    }

    .recomended-sec h2 {
        font-size: 26px;
    }

    .recomended-sec hr {
        margin-top: -15px;
    }

    .recomended-sec .item {
        margin-bottom: 30px;
    }

    .recomended-sec {
        margin-bottom: 50px;
    }

    .recent-book-sec .row .col-lg-2 {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
    }

    .about-sec .about-content {
        max-width: 440px;
        padding: 40px 0 40px 25px;
    }

    .offers-sec .detail {
        padding: 45px 34px;
    }

    .offers-sec .detail h6 {
        padding-right: 0;
    }

    .testimonial-sec {
        padding: 80px 0 60px;
    }

    .testimonial-sec .item {
        padding: 0 50px 80px;
    }

    .testimonial-sec .item h3 {
        font-size: 26px;
        line-height: 42px;
    }

    header .main-menu .form-inline input {
        width: 170px;
        height: 38px;
    }

    .offers-sec .detail .icon-point {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    header .header-top .ph-number {
        float: initial;
    }

    header .navbar-nav {
        padding-top: 10px;
    }

    .slider .slide .content .title {
        padding: 0 10px;
    }

    .slider .slide .content .title h3 {
        font-size: 24px;
    }

    .slider .slide .content .title h5 {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .btn {
        padding: 10px 15px 9px;
    }

    .slider .owl-dots {
        bottom: 10px;
    }

    .about-sec {
        padding-bottom: 60px;
    }

    .about-sec .about-content {
        max-width: 100%;
        padding: 0 20px;
    }

    .about-sec .about-img {
        width: 100%;
        margin-bottom: 30px;
    }

    .about-sec .about-content h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .about-sec .about-content p {
        margin-bottom: 20px;
    }

    .about-sec .about-content .btn-sec {
        margin-top: 34px;
    }

    .recent-book-sec .row {
        margin: 0 -15px;
    }

    .features-sec ul li {
        padding: 0 10px 40px;
    }

    .features-sec ul li h3 {
        font-size: 20px;
    }

    .offers-sec .detail {
        margin-bottom: 20px;
    }

    .recent-book-sec .row .col-lg-2 {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 0 15px;
    }

    .offers-sec .row {
        margin: 0 -15px;
    }

    .offers-sec .row .col-md-6 {
        padding: 0 15px;
    }

    .slider .slide .content .title h3 {
        font-size: 22px;
    }

    .slider .slide .content .title h5 {
        font-size: 12px;
    }

    .recomended-sec .title {
        margin-bottom: 40px;
    }

    .recomended-sec h2 {
        font-size: 22px;
    }

    .recent-book-sec h2 {
        font-size: 22px;
    }

    .features-sec ul li {
        width: 100%;
        margin-bottom: 60px;
    }

    .features-sec ul li:last-child {
        margin-bottom: 0;
    }

    .features-sec ul li {
        border: 1px solid #cacaca;
    }

    .offers-sec .detail {
        padding: 40px 24px;
    }

    .offers-sec {
        padding: 80px 0 60px;
    }

    .testimonial-sec {
        padding: 60px 0 40px;
    }

    .testimonial-sec .item h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .testimonial-sec .item {
        padding: 0 20px 80px;
    }

    .testimonial-sec .left-quote {
        left: 0px;
    }

    .testimonial-sec .right-quote {
        right: 0px;
    }

    .recent-book-sec .row .col-lg-2 {
        padding: 0 15px;
    }

    .recent-book-sec .row {
        margin: 0 -15px;
    }
}

@media only screen and (max-width: 320px) {
    .slider .owl-dots {
        bottom: -5px;
    }
}

.breadcrumb {
    background: transparent;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    margin-bottom: 50px;
    border-radius: 0;
}

.breadcrumb a {
    font-weight: 200;
    color: #000;
    font-size: 14px;
}

.breadcrumb .breadcrumb-item.active {
    color: #000;
    font-size: 14px;
    font-weight: 300;
}

.about-sec h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #363636;
}

.about-sec img {
    float: left;
    margin: 0 50px 50px 0;
}

.about-sec p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
}

.about-sec .img-sec {
    clear: both;
    width: 100%;
}

.static h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #363636;
}

.static p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
}

.static .img-sec {
    clear: both;
    width: 100%;
}

.static .form {
    margin-top: 50px;
    margin-bottom: 100px;
}

.static .form input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 35px;
}

.static .form .btn {
    padding: 12px 60px 10px;
    float: left;
    font-weight: 300;
}

.static .form h5 {
    float: left;
    line-height: 50px;
    padding-left: 15px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
}

.static .form h5 a {
    font-weight: 600;
    color: #fc4733;
    border-bottom: 1px solid;
}

.static .form h5 a:hover {
    text-decoration: none;
}

.static .form .required-star {
    position: absolute;
    top: -5px;
    right: 3px;
    font-size: 20px;
    color: red;
}

.static h3 {
    margin-bottom: 10px;
    font-size: 20px;
    opacity: 0.7;
}

.static h2:not(#terminos h2) {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #363636;
}

.static .recomended-sec {
    margin-bottom: 100px;
}

.static .recomended-sec img {
    float: initial;
    margin: 0;
    margin-bottom: 15px;
}

.static .recomended-sec img h3 {
    opacity: 1;
}

.static .recent-book-sec {
    margin-bottom: 100px;
}

.static .recent-book-sec img {
    float: initial;
    margin: 0;
    margin-bottom: 15px;
}

.static .recent-book-sec img h3 {
    opacity: 1;
}

.static .recent-book-sec .col-md-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 30px;
}

.static strong {
    opacity: 0.7;
    font-weight: 600;
}

.static ul {
    list-style: none;
}

.static ul li {
    line-height: 30px;
    font-weight: 200;
}

.static.about-sec {
    background: transparent;
}

@media only screen and (max-width: 800px) {
    .static h2 {
        font-size: 24px;
    }

    .static .recent-book-sec .col-md-3 {
        padding: 0 20px;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media only screen and (max-width: 640px) {
    .about-sec h1 {
        font-size: 26px;
        margin-bottom: 22px;
    }

    .about-sec img {
        margin: 0 0px 30px 0;
    }

    .static .form {
        margin-bottom: 0px;
    }

    .static .form h5 {
        padding-left: 0;
        font-size: 14px;
    }

    .recent-book-sec .row {
        margin: 0 -20px;
    }

    .static .recent-book-sec .row {
        margin: 0 -15px;
    }

    .static .recent-book-sec .col-md-3 {
        padding: 0 15px;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .static.about-sec {
        padding-bottom: 00px;
        margin-bottom: 0;
    }

    .static .recomended-sec {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .recent-book-sec .row {
        margin: 0 -15px;
    }
}

.product-sec {
    margin-bottom: 100px;
}

.product-sec h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #363636;
}

.product-sec #myCarousel .list-inline {
    white-space: nowrap;
}

.product-sec #myCarousel .carousel-indicators {
    /* position: static; */
    left: initial;
    width: initial;
    margin-left: initial;
    position: absolute;
    top: 0;
    right: 0;
    left: initial;
    bottom: inherit;
    display: block;
    margin-right: 0;
    width: 115px;
}

.product-sec #myCarousel .carousel-indicators>li {
    width: 100%;
    margin-left: 0;
    height: initial;
    text-indent: initial;
    display: block;
    margin-bottom: 12px;
}

.product-sec #myCarousel .carousel-indicators>li.active img {
    opacity: 0.7;
    outline: 1px solid #ff0000;
}

.product-sec #myCarousel .carousel-indicators>li img {
    cursor: pointer;
}

.product-sec .carousel-inner {
    width: 360px;
    float: left;
    margin-right: 15px;
}

.product-sec .slider-sec {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 520px;
    flex: 0 0 520px;
}

.product-sec .slider-content p {
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 25px;
}

.product-sec .slider-content ul {
    list-style: none;
    // width: 320px;
    margin-bottom: 40px;
    float: left;
}

.product-sec .slider-content ul li {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.product-sec .slider-content ul li span {
    width: 180px;
    font-weight: 300;
    display: inline-block;
    float: left;
}

.product-sec .slider-content ul li span.price {
    padding-left: 20px;
    font-weight: 600;
    text-decoration: line-through;
    width: 100px;
}

.product-sec .slider-content ul li span.final {
    font-size: 24px;
    text-decoration: none;
    color: #ff0000;
    line-height: 24px;
}

.product-sec .slider-content ul li span.clm {
    width: 5px;
}

.product-sec .slider-content ul li span.save-cost {
    text-align: right;
    width: 100%;
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
}

.product-sec .btn-sec {
    width: 100%;
    clear: both;
}

.product-sec .btn-sec .btn {
    // margin-right: 15px;
}

.related-books h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #363636;
}

@media only screen and (max-width: 1024px) {
    .slider-content {
        // -ms-flex: 0 0 450px;// flex: 0 0 450px;
        // max-width: 450px;

    }

    .product-sec h1 {
        font-size: 28px;
    }

    .related-books h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 800px) {
    .product-sec .slider-sec {
        margin-bottom: 30px;
    }

    .slider-content {
        // -ms-flex: 0 0 100%;
        // flex: 0 0 100%;
        // max-width: 100%;

    }
}

@media only screen and (max-width: 640px) {
    .product-sec .slider-sec {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-sec .carousel-inner {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .product-sec #myCarousel .carousel-indicators {
        position: initial;
        float: left;
        width: 100%;
        margin: 0 -5px;
    }

    .product-sec #myCarousel .carousel-indicators>li {
        width: 33.33%;
        margin-left: 0;
        display: block;
        float: left;
        margin: 0;
        padding: 0 5px;
    }

    .product-sec h1 {
        font-size: 24px;
    }

    .related-books h2 {
        font-size: 24px;
    }
}
