#search {
    div.item {
        position: relative;
        .overlay {
            background-color: rgba(0,0,0,.4);
            height: 40px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
