#aside-cont {
    height: inherit;

    aside {
        .eventos {
            img {
                margin-left: 5px;
                ;
            }
        }

        a {
            color: #333;
        }

        p {
            font-size: 14px;
        }

        text-align: center;
        padding: 0 20px;

        hr {
            margin: 10px 0;
        }



        div.widget {
            margin-bottom: 10px;
            text-align: left;

            img {
                float: right;
            }

            p {
                margin: 0;
            }
        }
    }
}
