section#single-libro {
    div.slider-sec {
        position: relative;

        .overlay {
            background-color: rgba(0, 0, 0, .4);
            height: 40px;
            width: 100px;
            margin-left: calc(50% - 50px);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    div.btn-sec {
        text-align: center;
        margin-bottom: 20px;

        form {
            margin-right: 20px;
        }

        form,
        a {
            display: inline-block;
            margin-top: 20px;
        }

    }

    ul {
        li span {
            &:not(.name) {
                font-weight: 400;
            }

            &.clm {
                margin-right: 20px;
            }

            &.final {
                padding: 0;
            }
        }

        p {
            font-weight: 400;
        }
    }
}
