section#single-user {
    div.container>div.row>div {
        margin-bottom: 30px;
    }

    small {
        display: block;
        margin-top: 10px;
    }

    div#accordion {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 2px #ddd;



        .card {
            border-bottom: 1px solid #ddd;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;

            .card-header {
                background-color: #fff;
                padding: 0;
                height: 40px;
                border-bottom: 0;
                box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .05);
                border-radius: 0;

                p.compra {
                    margin: 0;
                    padding: 10px 20px;
                    border: 0;
                    color: $color_prim;
                    outline: 0;
                    font-weight: bold;
                }
            }

            .card-body {
                background-color: #f0f0f0;
                color: #222;

                table {
                    font-size: 80%;

                    tr {

                        td,
                        th {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
