.slider {
    width: 100%;
    margin-bottom: 50px;
}

.slider .slide {
    position: relative;
}

.slider .slide .foto-slide {
    width: 100%;
    height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider .slide .content {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.slider .slide .content .title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.slider .slide .content .title h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
}

.slider .slide .content .title h5 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 40px;
}

.slider .owl-dots {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.slider button.owl-dot {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
}

.slider button.owl-dot.active {
    background: $color-prim;
}
