div#switches {
	label.switch {
		position: relative;
		display: inline-block;
		width: 45px;
		height: 23px;
		user-select: none;
		bottom: 5px;
		input {
			opacity: 0;
			width: 0;
			height: 0;
			&:checked + .slider {
				background-color: $color-prim;
			}
			&:checked + .slider:before {
				-webkit-transform: translateX(16px);
				-ms-transform: translateX(16px);
				transform: translateX(16px);
			}
		}
		span.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 28px;
			background-color: #ccc;
			-webkit-transition: .4s;
			transition: .4s;
			user-select: none;
			&:before {
				position: absolute;
				content: "";
				height: 22px;
				width: 22px;
				left: 4px;
				bottom: 3px;
				background-color: white;
				-webkit-transition: .4s;
				transition: .4s;
			}
			&.round {
				border-radius: 34px;
				&:before {
					border-radius: 50%;
				}
			}
		}
	}
}