.testimonial-sec {
    padding: 80px 0;
    position: relative;
}

.testimonial-sec .item {
    text-align: center;
    padding: 0 140px 100px;
}

.testimonial-sec .item h3 {
    font-size: 34px;
    font-weight: 200;
    line-height: 50px;
    margin-bottom: 40px;
}

.testimonial-sec .item .author {
    font-size: 20px;
    font-weight: 500;
}

.testimonial-sec .item .country {
    font-size: 20px;
    font-weight: 300;
}

.testimonial-sec .owl-dots {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.testimonial-sec button.owl-dot {
    width: 10px;
    height: 10px;
    background: #cdcdcd;
    border-radius: 50%;
    margin: 0 5px;
    transition: all 0.3s;
}

.testimonial-sec button.owl-dot.active {
    background: $color-prim;
    transform: scale(1.6);
}

.testimonial-sec .left-quote {
    position: absolute;
    top: 0;
    left: 40px;
}

.testimonial-sec .right-quote {
    position: absolute;
    bottom: 0;
    right: 50px;
}
