/* BASE */


/* Font family */


/* color */
@import 'variables';

/* Font size */


/* mixin */

body {
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    float: left;
    width: 100%;
}

:target {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

blockquote {
    margin-left: 100px;
    border-left: 4px solid #ccc;
    font-family: serif;
    font-size: 24px;
    font-style: italic;
    color: #666;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;

    &:before {
        content: '\"';
    }

    &:after {
        content: '\"';
    }
}

section {
    min-height: calc(100vh - 833px);
    &:not(.slider) {
	    margin: 60px 0;
	    width: 100%;
	}
    &:last-of-type {
	    margin: 60px 0 0;
	    width: 100%;
	}
    &#precios,
    &#compras,
    &#editar-libros,
    &#editar-eventos {
        a button.btn {
            margin: 20px !important;
        }
    }
}


small {
    color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0px;
    padding: 0px;

    &.pagination {
        justify-content: center;
    }
}

h2 {
    font-family: Montserrat, sans-serif;
}

input {
    font-family: 'Raleway', sans-serif;
    outline: 0;
    border: 1px solid #ddd;
}

button.no-style {
    border: none;
    background: none;

    &:hover i {
        color: $color-prim;
    }
}

.page-item.active .page-link {
    background-color: $color-prim;
    border-color: $color-prim;
}

.page-link {
    color: $color-prim;
}

div.placeholder {
    min-height: 142px;
}

a {
    color: $color-prim;

    &:hover {
        color: #FA820B;
        text-decoration: none;
    }
}

textarea {
    font-family: 'Raleway', sans-serif;
    outline: 0;
}

.btn {
    background: $color_prim;
    opacity: 1;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px 11px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    border: 2px solid $color_prim;
    border-radius: 2px;
}

.btn:hover {
    background: #fff;
    color: $color-prim;
}

// .container {
//     width: 1200px;
//     padding: 0 50px;
//     max-width: 1200px;
// }




.gray-btn {
    background: #999;
    border: 2px solid #999;
    font-size: 16px;
    font-weight: 300;
}

.gray-btn:hover {
    background: #fff;
    color: #999;
}

.blue-btn {
    background: #0072bc;
    border: 2px solid #0072bc;
    font-size: 16px;
    font-weight: 300;
}

.blue-btn:hover {
    background: #fff;
    color: #0072bc;
}

.black {
    background: #252525;
    border: 2px solid #252525;
}

.black:hover {
    background: transparent;
    color: #252525;
}

img {
    max-width: 100%;
}

section#privacy-policy {
    h4 {
        margin-bottom: 40px;
    }

    h5 {
        margin: 40px 0 20px;
    }

    p {
        font-size: 14px;
    }
}

a.iconos-borrar-editar {
    position: absolute;
    top: 10px;
    color: white !important;
    text-shadow: 1px 0 3px #222;

    &:hover {
        text-shadow: none;
    }

    &.uno {
        right: calc(50% - 20px);
    }

    &.dos {
        right: calc(50% + 10px);
    }
}

/*	formulario busqueda admin	*/
form#search-admin {
		position: relative;
	input {
		height: 60px;
		border: 1px solid $color-prim;
		font-size: 20px;
		padding: 0 0 0 50px;
		color: $color-prim;
	}
	i {
		padding: 15px 30px;
		color: $color-prim;
		position: absolute;
		right: 0;
		bottom:0;
		font-size: 30px;
		transition: 300ms;
		&:hover {
			color: white;
			background-color: $color-prim;
		}
	}
}
p {
    font-size: 16px;
    line-height: 30px;
}
@import 'app';
